@import 'normalize';
@import 'fonts';

body {
	font-family: 'IBMPlexSans', sans-serif;
	font-style: normal;
    font-weight: normal;
    font-size: 16px;    
	color: #0B1F35;
}

.container {
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

